.entry-content .cpl-gallery_2020-exhibit ul {
display: flex;
flex-flow: wrap;
justify-content: center;
align-items: center;
padding: 0 0 4em 0;
// outspecify general parent theme rule
margin: 0;
}

.cpl-gallery_2020-exhibit img {
  justify-content: center;
  display: flex;
  padding-bottom: 1.25em;
  @media small {
    padding: 2em;
  }

  max-width: 300px;

}


.entry-content .cpl-gallery_2020-exhibit li {
list-style: none;
flex-basis: 400px;
padding: 2em;

// border: 3px solid black;
}

// the span container for the pagination links for the exhibit
.cpl-span--2020-exhibit {
  display: flex;
  justify-content: center;
}
