
.page-template-template-cleforgood {
	#main {
		max-width: 100%;
		margin-top: 0;
	}
	#forbottom {
		margin: 0;
		padding: 0;
	}

}


.cfg-featured-image { 
	background-image: url('https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood300.jpg');
	background-size: 100% auto;
	padding-bottom: 3.2 em; 
	display: block; 
	max-width: 100%;
	min-height: 55px; 
	// height: auto;
	background-repeat: no-repeat;
	@include breakpoint(small) {
	background-image: url('https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood768.jpg');
	min-height: 172px; 
	}
	@include breakpoint(large) {
	background-image: url('https://cpl.org/wp-content/themes/tempera-nocopyrt/images/cleforgood1200.jpg');
	min-height: 345px; 
	}

//	height: 25vw;
}