// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Adjust for full width bleed
.home {
	#main {
		max-width: 100%;
		margin-top: 0;
	}
	#front-columns {
		max-width: 1150px;
		margin: 0 auto;
	}
	#pp-afterslider {
		margin:  0;
	}
	.slick-slider {
		.slick-dots {
			display: none;
		}
	}
}

.home-slider {
	border-color: #000;
	position: relative;
	overflow: hidden;
}

.slick-slider .slick-image-slide img{width:100%; height:auto;}
.slick-slider .slick-image-slide {width:100%; }
.slick-slider .slick-track {background:#000;}
.slick-slider .slick-arrow {
	position: absolute;
	top: 48%;
	border: none;
	box-shadow: none;
	text-indent: -10000em;
	z-index: 300;
	width: 28px;
	height: 48px;
}
.slick-slider .slick-slide {
	@include breakpoint(small) {
		max-height: 550px;
	}
}
.slick-slider .content {
	padding: 30px 40px;
	color: #fff;
	font-size: 16px;
	background-color: #000;
	@include breakpoint(small) {
		position: absolute;
		z-index: 300;
		top: 40px;
		left: 0;
		right: 0;
		width: 520px;
		height: 290px;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.6);
	}
	h1 {
		font-size: 35px;
		line-height: 38px;
		font-weight: bold;
	}
	p {
		margin: 15px 0;
		line-height: 24px;
	}
	img {
		width: auto;
	}
	.share-link {
		display: inline-block;
		margin: 5px 2px;
	}
	.share {
		font-size: 13px;
		line-height: 23px;
		height: 23px;
		margin-bottom: 30px;

	}
	.share-label {
		float: left;
		margin-top: 7px;
		margin-right: 5px;
	}
}

.slick-slider button.slick-prev, .slick-slider button.slick-prev:hover, .slick-slider button.slick-prev:focus {
	background: url(../images/arrow-prev.png) 0 0 no-repeat;
	left: 5px;
	@include breakpoint(small) {
		left: 20px;
	}
}
.slick-slider button.slick-next, .slick-slider button.slick-next:hover, .slick-slider button.slick-next:focus {
	background: url(../images/arrow-next.png) 0 0 no-repeat;
	right: 5px;
	@include breakpoint(small) {
		right: 20px;
	}
}

.slick-slider .slick-prev {
	left: 20px;
}
.slick-slider .slick-next {
	right: 20px;
}

// .entry-title a:hover {
// 	color:  #fff;
// }

.column-header-image {
	color: $light-blue;
	font-weight: 600;
}

#container--grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0em .85em;
  padding: 1em;
  background-color: $neutral-tan;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include breakpoint(medium) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

}

// Featured Blog Posts
// .home.magazine-layout {
// 	#container--grid article {
// 		overflow: hidden;
// 		@include breakpoint(medium) {
// 			height: 440px;
// 		}
// 	}

	#container--grid article.post:nth-of-type(2n+1),
	#container--grid article.post,
	#container--grid article.page {

    background: #e2deda;
		width: 100%;
    margin-bottom: 1em;
	}
	// #container--grid article.post:nth-child(1) {
	// 	background: $primary-gray;
	// 	.entry-meta {
	// 	//	border-top: 1px solid #333;
	// 		color: $neutral-noir;
	// 		span a,
	// 		.icon-metas:before {
	// 			color: #fff;
	// 		}
	// 	}
	// }
	// #container--grid article.post:nth-child(2) {
	// 	background: $primary-gray;
	// }
	// #container--grid article.post:nth-child(3) {
	// 	background: $primary-gray;

	// }
	#container--grid article.post .article-inner {
		color: $neutral-noir;
    padding: 1em;

	}

	#container--grid article.post .article-inner .entry-title {
		color: $neutral-noir;
		font-size: 1.65em;
		font-weight: 700;
	}

	// overrides the general call for links
	#container--grid article.post .article-inner .entry-title a {
		color: $neutral-noir;
    text-decoration: underline;
	}

	// #container--grid article.post a.continue-reading-link,.magazine-layout #container--grid article.post #cryout_ajax_more_trigger {
	// 	background: #007fb0;
	// }
	// #container--grid article.post .entry-meta span a {
	// 	color: $dark-blue;
	// }
	// #container--grid article a.continue-reading-link i.icon-right-dir, a.continue-reading-link {
	// 	color: #fff;
	// }
	// #container--grid article .entry-meta {
	// 	background: none;
	// 	padding: 10px 0;
	// }
//}

// Home Topics & Subject Feature Grid

.home-topics {
	h2 {
		margin: 0;
		padding: 25px 0 20px;
		background: #1b2454;
		text-align: center;
		color: #fff;
		font-size: 20px;
		line-height: 24px;
		@include breakpoint(small) {
			font-size: 35px;
			line-height: 38px;
			}
		font-weight: bold;

		span {
			display: block;
			text-align: center;
			font-size: 16px;
			@include breakpoint(small) {
				font-size: 22px;
			}

			font-weight: normal;
		}
	}
	/*.l-contained {
		@include breakpoint(small) {
			max-width: 50%;
		}
		@include breakpoint(medium) {
			max-width: 1150px;
		}
	} */
	.bg-wrapper {
		padding: 50px 0;
		background: $primary-blue;
		@include clearfix;
		text-align: center;
	}
	.topic {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		//max-height: 270px;
		overflow: hidden;
		@include breakpoint(small) {
			max-width: 33%;
		}
		.title {
			width: 100%;
			position: absolute;
			z-index: 2;
			top: 48%;
			color: #fff;
			font-size: 23px;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
		}
		.icon {
			position: absolute;
			z-index: 2;
			top: 24%;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: block;
		}
		.attachment-home-topic {
			position: relative;
			margin-bottom: -10px;
			z-index: 1;
			opacity: .6;
			transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		   -webkit-transition: opacity .25s ease-in-out;
		}
		&:hover {
			.attachment-home-topic {
				opacity: .3;
			}
		}
	}
}


// override parent at 1.4.9 ref https://gitlab.com/cpl/site2/issues/99;

.presentation-page #container {
    margin-top: 0em;
}

// Override theme
@media (max-width: 800px) {
	#forbottom #container[class*='column'] #container--grid {
		margin-bottom: 0 !important;
	}
}
// Hide top button
#toTop {
	display: none;
}

#cryout_ajax_more_trigger {
	display: none !important;
}

#frontpage-view-link {
    text-align: center
}
