/*
Theme Name: Tempera Child
Theme URI: https://www.gitlab.com/tempera-nocopyrt
Description: Extremely modified child theme for CPL
Author: The CPL Team
Version: 2.0.0
Requires at least: 5.5
Requires PHP: 7.0

Template: tempera
*/

/* Tempera Custom CSS that doesn't fit elsewhere or hasn't been moved yet*/

#access ul li.current_page_item a,
#access ul li.current-menu-item a {
  color: #ffd130 !important;
}

/* hiding characters like # of characters needed in gravity forms */
#field_6_2 .ginput_counter,
#field_7_2 .ginput_counter,
#field_7_7 .instruction,
#field_12_2 .ginput_counter,
#field_14_2 .ginput_counter,
#field_14_17 .instruction,
#field_16_2 .ginput_counter {
  display: none;
}

.gform_wrapper .ginput_complex .ginput_right select {
  float: none;
}

p.location-description {
  width: 50%;
}

#cpl-map-locations {
  width: 80%;
  height: 320px;
  position: relative;
  margin-bottom: 3em;
}

/* for hover, focus of icon on leafletmap */
.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive:hover,
.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive:focus {
  outline: .25em solid black;
}

.leaflet-container {
  z-index: 0;
}

.s-la-widget .form-group {
  margin-bottom: 5px;
  padding-left: 20px !important;
  width: 75% !important;
}
