// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar
// most of the styling had been done inline or the parent theme; I'm moving it here
// -----------------------------------------------------------------------------

#primary {
@media print {
	display: none; 
	}
}

.cpl-list-sidebar {
	margin-left: 1em; 
	list-style-type: square;
}