// -----------------------------------------------------------------------------
// This file contains all styles related to the button component
// -----------------------------------------------------------------------------
// this is used with the elements of button or an "a" (link)
// e.g. <a href="https://cpl.org class="cpl-button cpl-button-action"
// <button class="cpl-button cpl-button-action">
.cpl-button {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	padding: 0.75em 1.5em;
	border-radius: none;
	//
	&.cpl-button-action {
		background-color: $primary-yellow;
		color: $neutral-noir;
	}
	&.cpl-button-status {
		color: #FFF;
		background-color: #ed028c;
	}
	&.cpl-button-action--search {
	background-color: $primary-yellow;
	color: $neutral-noir;
	background-image: url("../images/search.svg");
	background-position: 100%;
	background-repeat: no-repeat;
	padding-right: 1.75em;

	}
	&:hover, &:focus {
	box-shadow: inset 0 0 0 2px;
	text-decoration: underline;
	}

}

// for all WP buttons
.wp-block-button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
