//
// form-related components that are not done already by gravity forms
//


// enforce each label and radio option to be on its own line
// originally done for the search form dialog

.form-search {
  margin: 1.5em;
  border: black;
  padding: 1.5em;
  border-style: solid;
}

.radio-row label {
    display: block;
  }

.label-large {
    display: block;
    font-size: 30px;
}

  /* need to override parent-theme ugh, ref #152 */
  textarea, select,
  input[type="text"], input[type="password"], input[type="email"], 
  input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="number"],input[type="range"],
  input[type="search"],input[type="tel"],input[type="time"],input[type="url"],input[type="week"] {
  border-style: solid;
  border-color: black; 
  border-width: 0.12em; 
  background-color: white;
}

input:hover, 
input:focus, 
textarea:hover,
textarea:focus {
	border-style: solid;
  border-color: black; 
  border-width: 0.20em;
	box-shadow: inset 0 0 0 2px;
}

// legend will also be in a form, b/c of field set 

  legend {
    font-size: 1.5em;
    padding-right: .5em; 
    padding-top: .5em;
    padding-bottom: .5em;
  }

  input[type="radio"] {
		&:focus {
      outline: .25em; 
			outline-color: $yellow; 
			outline-style: solid; 
		}
	}