

// libchat-specific styling, overwriting from their defaults
.lcs_slide_out {
  @media print {
    display: none;
  }
}

/* libanswers chat */
.lcs_slide_out header a {
  border-style: hidden !important;
	left: 0px;
  bottom: 0px;
  right: -50px;
}
