// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin base-content-heading () {
  font-weight: 700; 
  margin-bottom: .5rem;
  line-height: 1.15;

}


// when #{headings(1,6)} is used, will create selectors: h1, h2, h3, h4, h5, h6 ;
// https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else { 
        @return 'h#{$from},' + headings($from+1, $to);
    }
}


/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

// Simple Breakpoints
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 979px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == xsmall {
    @media (min-width: 320px)  { @content; }
  }
}



@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    width: 100%;
  }
}


