// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colours
$dark-blue: #0080A9;
$light-blue: #00A4D9;
$yellow: #FCCE06;
$light-yellow: #FCDE81;
$pink: #D51D7E;
$light-pink: #E58EAC;
$grey: #757676;

// 2021 palette
$primary-blue: #0057B7;
// $primary-gray: #E9E5E2;
$primary-yellow: #E9E186;
$neutral-tan: #CBC4BC;
$neutral-noir: #000000;
$neutral-white: #FFFFFF;
$second-orange: #FF8D7E;
$second-yellow: #F1C400;
$second-teal: #94B7BB;
$second-aqua: #4298B5;
$second-green: #56944F;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$page-width: 1150px;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
