// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "WorkSans-Regular";
  src: url('fonts/WorkSans-Regular-subset.woff2') format("woff2"), url('fonts/WorkSans-Medium-subset.woff') format("woff");
  // font-weight: 600;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url('fonts/WorkSans-Medium-subset.woff2') format("woff2"), url('fonts/WorkSans-Medium-subset.woff') format("woff");
  // font-weight: 600;
}

@font-face {
  font-family: "Spectral-Regular";
  src: url("fonts/Spectral-Regular-subset.woff2") format("woff2"), url("fonts/Spectral-Regular-subset.woff") format("woff");
}

body,
body.custom-background {
  font-family: "WorkSans-Medium", sans-serif !important;
	background-color: #fff !important;
	background-image: none;
  line-height: 1.4;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  word-wrap: normal !important;

	&:focus {
	  background-color: #ffffff;
	  clip: auto !important;
	  clip-path: none;
	  color: $primary-blue;
	  display: block;
	  font-size: 1.2em;
	  height: auto;
	  left: 5px;
	  line-height: normal;
	  padding: 15px 23px 14px;
	  text-decoration: none;
	  top: 5px;
	  width: auto;
	  z-index: 100000; /* Above WP toolbar. */
	}

}

a {
 color: $primary-blue;

	&:focus,
	&:hover {
	color: #F21800;
	text-decoration: underline;
	}

	&:visited {
	color: #663399;
	}
	@media print {
		color: black;
		text-decoration: underline;
		&:visited {
			color: black;
			}
	}
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, #front-text1 h1, #front-text2 h1, .column-header-image,#content h1.entry-title a, #content h2.entry-title a, #content h1.entry-title, #content h2.entry-title {
	font-family: "WorkSans-Medium", sans-serif !important;
}

#content .entry-title {
	font-weight: 700;
}


.entry-content h2 {
	@include base-content-heading;
	font-size: 28px;
}

.entry-content h3 {
	@include base-content-heading;
	font-size: 24px;
}

.entry-content h4 {
	@include base-content-heading;
	font-size: 20px;
}

.entry-content h5 {
	@include base-content-heading;
	font-size: 18px;
}


#content .page-title {
	border-color: transparent;
	font-size: 1em;
	font-weight: normal;
	line-height: 150%;
	padding: 5px 10px;
	margin-bottom: 25px;
//	background-color: #F7F7F7 !important;
}

.page-title span {
	font-family: "WorkSans-Regular", sans-serif;
	font-style: normal;
	font-size: 40px;
	font-weight: 700;
}

div.cpl-event-detail {
	font-weight: 700;
}

.entry-summary {
  font-family: "WorkSans-Medium", sans-serif;
}


/* specific to the board agenda formatting */
.cpl-list-board--agenda > li {
	list-style-type: decimal;
	font-weight: 700;
}

.cpl-list-board--agenda ul {
	font-weight: initial;
}

.cpl-list-board--agenda ol {
	list-style-type: upper-alpha;
	font-weight: initial;
}

.cpl-list-board--agenda ol ol {
	list-style-type: lower-roman;
}

.cpl-list-board--agenda ol ol ol {
	list-style-type: lower-alpha;
}
